<div>
    <label for="new-post-title">Title</label>
    <input type="text" id="new-post-title" />
</div>
<div>
    <label for="new-post-content">Blog post</label>
    <input type="text" id="new-post-content" />
</div>
<div><button class="btn btn-primary" type="submit" id="create-post-submit">submit</button></div>
</div>