<div class="page-heading">
    <h2>My Dashboard</h2>
</div>

<div class="container" id="post-container">
    {{#each user.posts as |post| }}
    <div class="container">
        <div id="post-title"><a href="/editpost/{{post.id}}">{{post.title}}</a></div>
        <div id="post-content">
            <p>{{post.post_content}}</p>
        </div>
        {{format_date post.date_created}}
    </div>

    {{/each}}

    <div>
        <a href="/createpost" class="btn btn-primary" type="new-post-button"> Create New Post</a>
    </div>
</div>