<h2>My Dashboard</h2>


{{#each user.posts as |post| }}
<div>
    <a href="/editpost/{{post.id}}">{{post.title}}</a>
    <p>{{post.post_content}}</p>
    {{format_date post.date_created}}
</div>
{{/each}}

<div>
    <a href="/createpost" type="new-post-button"> Create New Post</a>
</div>
