<h1>Edit post</h1>

<input id="post-title" type="text" value="{{post.title}}">
<input id="post-content" type="text" value="{{post.post_content}}">
<input id="update-post-button" type="button" value="Update" data-id="{{post.id}}">
<input id="delete-post-button" type="button" value="Delete" data-id="{{post.id}}">

<script src="/scripts/editpost.js"></script>