<div class="row">
  <div class="col-md-6">
    <h2>Login</h2>

      <div>
          <label for="login-email-address">email:</label>
          <input type="text" id="login-email-address" />
      </div>
      <div>
          <label for="login-password">password:</label>
          <input  type="password" id="login-password" />
      </div>
      <div><button class="btn btn-primary" type="submit" id="login-button">login</button></div>
    </div>
</div>
        
      
        
      
        
      
  <div class="col-md-6">
    <h2>Create a new login account</h2>

    
      <div>
        <label for="signup-first-name"> first name:</label>
        <input type="text" id="signup-first-name"/>
      </div>
      <div>
        <label for="signup-last-name"> last name:</label>
        <input type="text" id="signup-last-name"/>
      </div>
      <div>
        <label for="signup-email-address">email:</label>
        <input type="text" id="signup-email-address" />
      </div>
      <div>
        <label for="signup-password">password:</label>
        <input type="password" id="signup-password" />
      </div>
      <div>
        <button class="btn btn-primary" type="submit" id="signup-button">signup</button>
      </div>
 
</div>

<script src="./scripts/login.js"></script>
