<div class="page-heading"><h2>Log in or Sign up</h2></div>

<div class="row">
    <div class="container col-md-6">
        <h2>Login</h2>

        <div class="col">
            <label for="login-email-address">email:</label></div>
             <div class="col"><input type="text" id="login-email-address" />
        </div>
        <div class="col">
            <label for="login-password">password:</label></div>
            <div class="col"><input type="password" id="login-password" />
        </div>
        <div><button class="btn btn-primary" type="submit" id="login-button">login</button></div>
    </div>
</div>

<div class="container col-md-6">
    <h2>Create a new login account</h2>
    <div class="login-container">
        <div class="col">
            <label for="signup-first-name"> first name:</label></div>
            <div class="col"><input type="text" id="signup-first-name" />
        </div>
        <div class="col">
            <label for="signup-last-name"> last name:</label></div>
            <div class="col"><input type="text" id="signup-last-name" />
        </div>
        <div class="col">
            <label for="signup-email-address">email:</label></div>
            <div class="col"><input type="text" id="signup-email-address" />
        </div>
        <div class="col">
            <label for="signup-password">password:</label></div>
            <div class="col"><input type="password" id="signup-password" placeholder="8 characters or more"/>
        </div>
        <div>
            <button class="btn btn-primary" type="submit" id="signup-button">signup</button>
        </div>
    </div>

</div>

<script src="/scripts/login.js"></script>