.navbar {
  padding: 10px;
}
.container {
  background-color: cadetblue;
  color: white;
  padding: 15px;
  text-align: center;
}

#post-container {
  padding-bottom: 10px;
  color: cadetblue;
}

#post-title {
  color: cadetblue;
  background-color: #e3f2fd;
  padding: 10px;
}

#post-content {
  color: cadetblue;
  background-color: #e3f2fd;
  padding: 30px;
}

.page-heading {
  text-align: center;
  margin-top: 10px;
}

.btn {
  margin: 5px;
}

.comment-container {
  text-align: center;
  margin: 20px;
  padding-bottom: 10px;
}

#signup-password {
    color: grey;
    text-align: center;
}

.logo {
   font-weight: bold;
   font-family: monospace;
   
}